# Skip macOS system files
.DS_Store

# Skip Environment Variables
.env

# Skip Virtual Environments
venv/
.venv/

# Skip Cache of Python
__pycache__/
*.pyc

# Skip Database Vector (Build artifact)
vectorstore/
chroma_db/